.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(240, 237, 237);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.subtitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  opacity: 0.9;
  color: rgb(24, 24, 23);
}

.textDesc {
  width: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
  color: rgb(35, 34, 34);
}

.desc img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.areaProjetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.areaProjetos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  height: 40vh;
  box-shadow: 1px 1px 4px 0px;
  border-radius: 10px;
  padding: 10px;
  transition: 1000ms;
  background-color: rgb(32, 32, 31);
}

.areaProjetos h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: 1000ms;
  color: rgb(255, 255, 255);
}
.areaProjetos p {
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: 1000ms;
  color: white;
}

.areaProjetos div:hover p {
  color: white;
}

.areaProjetos div:hover h3 {
  color: white;
}

.areaProjetos div:hover a {
  color: white;
}

.areaProjetos div:hover {
  background-color: rgb(128, 123, 226);
  opacity: 0.9;
}

.areaProjetos img {
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 1px 0px 3px 1px;
  margin-bottom: 10px;
}

.areaProjetos a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  border: none;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 1px;
  transition: 1000ms;
}
.textProjetos {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
  color: rgb(45, 44, 44);
}

.textSkills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(53, 52, 52);
}

.textSkills h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
}

.areaSkills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: rgb(43, 42, 41);
}

.areaSkills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  height: 40vh;
  box-shadow: 1px 1px 4px 0px;
  border-radius: 10px;
  padding: 10px;
  transition: 1000ms;
  margin: 10px;
}

.areaFront {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(32, 32, 31);
}

.areaFront img {
  width: 3vh;
  height: 3vh;
  border-radius: 10px;
}
.areaFront h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
.areaMobile h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.areaMobile img {
  width: 3vh;
  height: 3vh;
  border-radius: 10px;
}
.areaMobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: rgb(32, 32, 31);
}
.areaMobile h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.areaFront h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}

.contato {
  display: flex;
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 20px;
}
.contato h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.areaContato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.areaContato a {
  margin: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(42, 42, 42);
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.8;
}

.areaContato h2 {
  color: rgb(44, 43, 43);
}

@media screen and (max-width: 1000px) {
  .conteiner {
    background-color: rgb(182, 223, 226);
    flex-direction: column;
    width: 100%;
    justify-items: center;
  }
  .desc {
    flex-direction: column;
    width: 100%;
    height: 60%;
    word-wrap: break-word;
  }

  .desc div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .desc div h3 {
    text-align: center;
    padding: 10px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 20px;
    color: rgb(42, 41, 41);
  }
  .textDesc {
    font-size: 14px;
    opacity: 0.9;
    color: rgb(36, 35, 35);
    font-family: "Courier New", Courier, monospace;
  }
  .areaImg img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .idProj img {
    width: 50px;
    height: 50px;
  }
  .projetos {
    flex-direction: column;
  }
  .areaProjetos {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .areaProjetos div {
    width: 50%;
    height: auto;
    margin: 10px;
    background-color: #230b3700;
  }

  .areaSkills {
    width: 100%;
    height: 50vh;
    flex-direction: column;
    margin-top: 30px;
    margin: 10px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .areaSkills div {
    width: 50%;
    height: 30vh;
    background-color: #34333500;
  }

  .textSkills h3 {
    margin-top: 40px;
    color: rgb(48, 46, 46);
  }

  .areaContato {
    background-color: rgb(182, 223, 226);
  }

  .contato {
    width: 100%;
    flex-direction: column;
    height: auto;
    background-color: rgb(182, 223, 226);
  }
}
