.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}

.subtitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

.textDesc {
  width: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.areaImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.areaImg h2 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.desc img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  animation: flutuar 3s ease-in-out infinite;
}
.conteinerProjetos {
  width: 100%;
  height: 100vh;
}

.projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.areaProjetos {
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 20px;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.areaProjetos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  height: 40vh;
  border-radius: 10px;
  padding: 20px;
  transition: 1000ms;
  border: rgb(255, 255, 255) 1px solid;
}
.areaProjetos div:hover {
  transform: scale(1.1);
}

.areaProjetos h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: 1000ms;
  color: white;
  text-align: center;
}
.areaProjetos p {
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: 1000ms;
  color: white;
  text-align: center;
}

.areaProjetos div:hover p {
  color: white;
}

.areaProjetos div:hover h3 {
  color: white;
}

.areaProjetos div:hover a {
  color: white;
}

.areaProjetos img {
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 1px 0px 3px 1px;
  margin-bottom: 10px;
}

.areaProjetos a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  border: none;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 1000ms;
}
.textProjetos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  color: white;
}

.formacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 70vh;
  border-radius: 10px;
  padding: 20px;
  transition: 1000ms;
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  border: white 1px solid;
}
.formacao div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: 40vh;
  border-radius: 10px;
  padding: 20px;
  transition: 1000ms;
  gap: 20px;
}

.formacao h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  transition: 1000ms;
  color: white;
}

.formacao h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.textSkills h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
}

.areaSkills {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
}

.areaSkills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  border: white 1px solid;
}

.areaFront {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
}

.areaFront img {
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
}
.areaFront h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.areaFront h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
}

.contato {
  display: flex;
  width: 100%;
  height: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.297);
  background-color: black;
  margin-top: 20px;
}

.areaContato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.areaContato a {
  margin: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}
.areaContato div {
  display: flex;
  flex-direction: row;
}

.areaContato h2 {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 860px) {
  .conteiner {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;

    background-color: black;
    scroll-behavior: smooth;
  }
  .desc {
    flex-direction: column;
    width: 100%;
    height: 60%;
    word-wrap: break-word;
  }

  .desc div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .desc div h3 {
    text-align: center;
    padding: 10px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 20px;
    color: white;
  }
  .textDesc {
    font-size: 14px;
    color: white;
  }
  .areaImg img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .areaImg h2 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .conteinerProjetos {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .projetos {
    flex-direction: column;
  }
  .areaProjetos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .areaProjetos div {
    width: 50%;
    height: 40%;
    margin: 20px;
  }
  .areaProjetos div a {
    margin-top: 10px;
  }
  .areaProjetos img {
    width: 20%;
    height: 20%;
  }

  .formacao {
    width: 70%;
    height: 40vh;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  .formacao div {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .formacao h3 {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .formacao h4 {
    color: white;
    font-size: 15px;
    text-align: center;
  }

  .areaSkills {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 10px;
    background-color: black;
  }

  .areaSkills div {
    width: 90%;
    height: auto;
    background-color: rgb(0, 0, 0);
    gap: 10px;
  }

  .textSkills h3 {
    color: white;
  }
  .areaSkills img {
    width: 11%;
    height: 11%;
  }
  .contato {
    width: 100%;
    height: 20vh;
    flex-direction: column;
    height: auto;
    background-color: black;
  }
  .areaContato {
    width: 100%;
    height: 10vh;
    bottom: 0px;
    margin-bottom: 20px;
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
