.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(15, 22, 43);
  scroll-behavior: smooth;
}
/* 15, 22,43 */

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.desc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.subtitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

.textDesc {
  width: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.desc img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}
.conteinerProjetos {
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

.projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.areaProjetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.areaProjetos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  height: 40vh;
  box-shadow: 1px 1px 4px 0px;
  border-radius: 10px;
  padding: 20px;
  transition: 1000ms;
  background-color: rgb(32, 32, 31);
}

.areaProjetos h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  transition: 1000ms;
  color: rgb(255, 255, 255);
}
.areaProjetos p {
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: 1000ms;
  color: white;
}

.areaProjetos div:hover p {
  color: white;
}

.areaProjetos div:hover h3 {
  color: white;
}

.areaProjetos div:hover a {
  color: white;
}

.areaProjetos div:hover {
  background-color: rgb(128, 123, 226);
  opacity: 0.9;
}

.areaProjetos img {
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 1px 0px 3px 1px;
  margin-bottom: 10px;
}

.areaProjetos a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  border: none;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 1px;
  transition: 1000ms;
}
.textProjetos {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.textSkills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.textSkills h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
}

.areaSkills {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: rgb(43, 42, 41);
}

.areaSkills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
  height: 40vh;
  box-shadow: 1px 1px 4px 0px;
  border-radius: 10px;
  padding: 10px;
  transition: 1000ms;
}

.areaFront {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(32, 32, 31);
}

.areaFront img {
  width: 3vh;
  height: 3vh;
  border-radius: 10px;
}
.areaFront h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
.areaMobile h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.areaMobile img {
  width: 3vh;
  height: 3vh;
  border-radius: 10px;
}
.areaMobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: rgb(32, 32, 31);
}
.areaMobile h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 15px;
}

.areaFront h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
}

.contato {
  display: flex;
  width: 100%;
  height: 20vh;

  background-color: black;
  margin-top: 20px;
  box-shadow: 1px 2px 3px 2px rgb(72, 0, 255);
}

.areaContato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.areaContato a {
  margin: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.8;
}
.areaContato div {
  display: flex;
  flex-direction: row;
}

.areaContato h2 {
  color: white;
}

@media screen and (max-width: 1000px) {
  .conteiner {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;

    background-color: rgb(15, 22, 43);
    scroll-behavior: smooth;
  }
  .desc {
    flex-direction: column;
    width: 100%;
    height: 60%;
    word-wrap: break-word;
  }

  .desc div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .desc div h3 {
    text-align: center;
    padding: 10px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 20px;
    color: white;
  }
  .textDesc {
    font-size: 14px;
    color: white;
  }
  .areaImg img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .idProj img {
    width: 50px;
    height: 50px;
  }
  .conteinerProjetos {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .projetos {
    flex-direction: column;
  }
  .areaProjetos {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .areaProjetos div {
    width: 50%;
    height: 40%;
    margin: 20px;
  }
  .areaProjetos div a {
    margin-top: 10px;
  }

  .areaSkills {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 10px;
  }

  .areaSkills div {
    width: 50%;
    height: 30vh;
    background-color: rgb(32, 32, 31);
  }

  .textSkills h3 {
    color: white;
  }

  .areaContato {
    background-color: rgb(182, 223, 226);
  }

  .contato {
    width: 100%;
    flex-direction: column;
    height: auto;
    background-color: rgb(182, 223, 226);
  }
}
